nav {
  ul {
    display: flex;
    gap: 3.3rem;
    a {
      font-weight: 500;
      color: $color-black;
      line-height: 1.45;
    }
  }
  @include responsive(phone) {
    position: absolute;
    top: 5rem;
    width: 100%;
    background-color: #fff;
    height: 100%;
    ul {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      a {
        font-size: 2.5rem;
      }
    }
  }
}
