// COLOR
$color-primary: #ff6464;
$color-secondry: #00a8cc;
$color-dark: #21243d;
$color-black: #000;

// bg color
$color-bg-section: #edf7fa;
$color-bg: #fff;
$color-time-1: #142850;
$color-time-2: $color-primary;

// Size
$container: 855px;

// FONT
$heebo-font: "Heebo", "Arial", sans-serif;
